$main-border: 0 solid #c4c4c4;
$secondary-border: 1px solid #c4c4c4;
$main-font: Segoe UI;
$main-font-bold: Segoe UI Semibold;
$main-font-size: 14px;
$button-height: 30px;
$font-link: 14px Segoe UI Semibold;
$color-link: #0078D7;
$font-label: 14px Segoe UI Semibold;
$color-label: #333;
$font-value: 14px Segoe UI;
$color-value: #333;
$font-no-value: 14px Segoe UI;
$color-no-value: #777;
$font-no-value-mandatory: 14px Segoe UI;
$color-no-value-mandatory: #E81123;
$font-info-text: 12px Segoe UI;
$font-info-text-bold: 12px Segoe UI Semibold;
$color-info-text: #333; //farby
$main-background-color: white;
$content-background-color: #eaeaea;
$main-font-color: #3C3C3C;
$muted-font-color: #BDBDBD;
$muted-gray: #d9d8d8;
$color-disabled: #b8b8b8;
$contrasting-font-color: #494949;
$header-color: #004578;
$basic-button-color: #0078D4;
$sidebar-item-color: #DCECF9;